# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\User Files\Desktop\School\2de Bach\Webontwikkeling 4\3_Github projects\Improved_version_CoronaApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
